//out: ./main.css, compress: true

@images: '../img';
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@makePeopleAwesome-color: #fad25c;
@deliverValueContinuously-color: #a3d96f;
@makeSafetyAPrerequisite-color: #a0bce2;
@experimentAndLearnRapidly-color: #f97977;
@modernAgileRing-color: #4b5666;

body {
  font-size: 15px;
  @media (min-width: @screen-sm-min) {
    font-size: 18px;
    line-height: 26px;
  }
}

ul li {
  text-align: left;
  font-weight: 300;
}

.navbar {
  .container {
    @media (min-width: @screen-sm-min) {
      padding-left: 35px;
    }
  }
}

.author {
  background: black;
  background: rgba(0,0,0,0.75);
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 0.5em;
  padding: 0 1em;
  @media (max-width: @screen-sm-min) {
    padding: 0.5em 1em;
    font-size: 1em;
  }
  a {

  }
}

.disqus {
  padding: 10px;
  background: white;
  border-radius: 10px;
}

.thumbnail.square {
  width:100%;
  padding-bottom:100%;
  margin:1em auto;
  overflow:hidden;
  position:relative;
  background:#CCC;
  border: 0;
  margin: 0;
  img {
    position:absolute;
    width:auto;
    min-width:100%;
    min-height:100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.caption {
  text-align: left;
  p {
    padding-left: 0;
    padding-rigt: 0;
  }
}

section {
  min-height: 100%;
  text-align: center;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333;
  color: rgba(0,0,0, 0.70);
  &:first-of-type {
      padding-top: 150px;
  }
  p {
    padding: 0 20px;
    text-align: left;
    @media (min-width: @screen-sm-min) {
      font-weight: 300;
      margin-bottom: 1.5em;
    }
  }
  blockquote {
    text-align: left;
    font-family: Georgia, serif;
    font-style: italic;
    line-height: 1.45;
    border-left: 0;
    font-size: medium;
    font-size: inherit;
    cite {
      display: block;
      font-size: 0.8em;
      margin-top: 0.5em;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-style: normal;
      opacity: 0.75;
    }
  }
  iframe {
    border: 0;
    width: 100%;
    height: 280px;
  }
  .sectionTitle {
    opacity: 0.75;
    color: #000;
    font-weight: 200;
    margin-bottom: 20px;
    .principle-icon {
      display:block;
      height: 1.5em;
      margin: 0 auto;
      margin-bottom: 0.5em;
    }
  }
}

.navbar-default {
  background-color: #434d5b;
  border-color: #5E6B80;
  .navbar-brand {
    color: #fefefe;
    color: rgba(255,255,255,0.9);
  }
}

section.intro-section {
  padding-top: 100px;
  background: #dde1ee; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(top, #dde1ee, #eef2f3);
  background: -o-linear-gradient(top, #dde1ee, #eef2f3);
  background: linear-gradient(to bottom, #dde1ee, #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #495664;
  color: rgba(73,86,100, 0.90);
  @media (min-width: @screen-sm-min) {
    padding-top: 150px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    @media (min-width: @screen-sm-min) {
      width: 65%;
      margin-bottom: 2em;
    }
  }
}

section.join-section  {
  background: @modernAgileRing-color;
  color: #fefefe;
  color: rgba(255,255,255, 0.90);
  padding-top: 50px;
  background: url('@{images}/community.jpg') no-repeat center center;
  background-size: 100%;
  position: relative;
  .sectionTitle {
    color: #FFF;
  }
  @media (orientation:portrait) {
    background-size: auto 100%;
  }
}

section.makePeopleAwesome-section {
  background: @makePeopleAwesome-color;
}
section.deliverValueContinuously-section {
  background: @deliverValueContinuously-color;
}
section.makeSafetyAPrerequisite-section {
  background: @makeSafetyAPrerequisite-color;
}
section.experimentAndLearnRapidly-section {
  background: @experimentAndLearnRapidly-color;
}
section.learnMore-section {
  background: #EFEFEF;
  .sectionTitle {
    margin-bottom: 40px;
  }
  .row {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  .caption {
    h4 {
      margin-top: 0;
      line-height: 1.2em;
      min-height: 2.4em;
    }
  }
}

section.fourPrinciples-section {
  .row {
    &:not(:first-child) {
      margin-top: 1em;
    }
    .principle {
    }
    .makePeopleAwesome-principle {
      svg {
        fill: @makePeopleAwesome-color;
      }
    }
    .deliverValueContinuously-principle {
      svg {
        fill: @deliverValueContinuously-color;
      }
    }
    .makeSafetyAPrerequisite-principle {
      svg {
        fill: @makeSafetyAPrerequisite-color;
      }
    }
    .experimentAndLearnRapidly-principle {
      svg {
        fill: @experimentAndLearnRapidly-color;
      }
    }
  }
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
  li {
    color: #333;
    color: rgba(0,0,0, 0.70);
    font-size: 0.6em;
    padding: 0 0.5em;
    display: inline-block;
    border-radius: 5px;
  }
  .makePeopleAwesome-category {
    background: @makePeopleAwesome-color;
  }
  .deliverValueContinuously-category {
    background: @deliverValueContinuously-color;
  }
  .makeSafetyAPrerequisite-category {
    background: @makeSafetyAPrerequisite-color;
  }
  .experimentAndLearnRapidly-category {
    background: @experimentAndLearnRapidly-color;
  }
}
